.custom-modal {
  --vkui--modalPage_background: transparent !important;
}

.custom-modal :global(.vkuiModalPage__in) {
  background: transparent !important;
  backdrop-filter: none !important;
}

.custom-modal :global(.vkuiModalPageHeader) {
  background: transparent !important;
}

/* Центрирование модального окна */
:global(.vkuiModalRoot__modal) {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  max-height: 90vh !important;
}