{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <!-- Полные стили админки -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
    <!-- Простая настройка цветов (переопределяет custom_admin.css) -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/color-config.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

